extends layout

block variables
    - var msgAlert = m_alert
    - var msgSuccess = m_success
    - var msgInfo = m_info
    - var msgWarning = m_warning

block extraScripts
  script(src='https://code.highcharts.com/stock/highstock.js')
  script(src='https://code.highcharts.com/stock/modules/data.js')
  script(src='https://code.highcharts.com/stock/modules/exporting.js')
  script(src="https://code.highcharts.com/stock/indicators/indicators.js")
  script(src="https://code.highcharts.com/stock/indicators/ema.js")
  script(src="https://code.highcharts.com/stock/indicators/dema.js")
  
block content
  h1 #{name} V #{version}
